<div class="container col-lg-2 col-md-3" style="font-size: 24px;">
    <div class="row">
        <div class="col-12">
            <div class="text-center"><h1 class="display-3" th:text="${name}"></h1>
                <img class="card-image-top img-fluid img-thumbnail"
                     th:src="@{/front-end/movie/images/} + ${id} + @{.jpg}"
                     style="height: 300px;width: auto;"
                />
                <br/>
                <form th:method="post" th:object="${validateWatchedMovieModel}">
                <div class="form-group" th:classappend="${#fields.hasErrors('rating')} ? 'has-danger'">
                    <label for="rating">Rating (1-10)</label>
                    <input type="number" class="form-control" id="rating" aria-describedby="ratingHelp" th:field="*{rating}"/>
                    <div id="ratingHelp" class="form-control-feedback" th:each="error : ${#fields.errors('rating')}"
                         th:text="${error}">
                    </div>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('dateWatched')} ?'has-danger'">
                    <label for="dateWatched">Date Watched</label>
                    <input type="date" class="form-control" id="dateWatched" aria-describedby="dateWatchedHelp" placeholder="yyyy-MM-dd" th:field="*{dateWatched}"/>
                    <div id="dateWatchedHelp" class="form-control-feedback" th:each="error : ${#fields.errors('dateWatched')}"
                         th:text="${error}">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Add to my list</button>
                </form>
            </div>
        </div>
    </div>
</div>