<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="text-center"><h1 class="display-3">Movie List</h1></div>

            <form class="form-inline">
                Filter:
                <input type="submit" name="filter" class="btn btn-link" value="Ascending"/>
                <input type="submit" name="filter" class="btn btn-link" value="Descending"/>
            </form>

            <div class="card-group">
                <th:block th:each="movie : ${movies}">
                <div class="card col-2 thumbnail">

                    <img class="card-image-top img-fluid img-thumbnail"
                         th:src="@{/front-end/movie/images/} + ${movie.id} + @{.jpg}"
                    />

                    <div class="card-block">
                        <h4 class="card-title" th:text="${movie.name}"></h4>
                        <p class="card-text" th:text="|Genre: ${movie.genre}|"></p>
                    </div>

                    <div class="card-footer">
                        <a class="card-button btn btn-outline-primary btn-block btn-sm" name="info" th:href="@{movies/{id}(id=${movie.id})}">Info</a>
                        <a class="card-button btn btn-primary btn-block btn-sm" name="add" th:href="@{add-to-list/{id}(id=${movie.id})}">Add to my list</a>
                    </div>
                </div>
                </th:block>
            </div>
        </div>
    </div>
</div>