<header>
    <nav class="navbar navbar-toggleable-md navbar-light bg-success">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/">Movie List</a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="true" aria-expanded="false">Movies</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" th:href="@{/movies/ascending}">Ascending</a>
                            <a class="dropdown-item" th:href="@{/movies/descending}">Descending</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/users}">Users</a>
                    </li>
                    <th:block th:if="${session.user}">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/movies/add}">Add Movie</a>
                        </li>
                    </th:block>
                </ul>
                <ul class="navbar-nav">
                    <th:block th:switch="${session.user}">
                        <th:block th:case="null">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/register}">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/login}">Login</a>
                            </li>
                        </th:block>
                        <th:block th:case="*">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/list}">List</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/logout}">Logout</a>
                            </li>
                        </th:block>
                    </th:block>
                </ul>
            </div>

        </div>
    </nav>
</header>